.background-color {
    background-color: #fff;
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 45px 93px 45px;
    font-size: 18px;
    line-height: 1;
}

.header__links-list {
    display: flex;
    gap: 28.5px;
    padding-bottom: 5px;
    margin-right: 42px;
    text-underline-position: under;

}

.header__links-list-item {
    padding-left: 4.5px;
    list-style: circle;
}
.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    display: block;
    min-width: 137px;
}

.address {
    font-style: normal; 
    line-height: 1.36;
    text-underline-position: under;
}

.header__address {
    justify-self: end;
    margin-right: 14.5px;
    margin-bottom: 3px;
    max-width: 230px;
}

.cover {
    position: relative;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 156px 20px 50px 50px;
    min-height: 757px;
    color: #fff;
    text-transform: uppercase;
    z-index: 2;
}

.overlay {
    position: absolute;
    z-index: 1;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
    position: relative;
    padding: 156px 20px 0 50px;
    font-size: 100px;
    font-weight: 700;
    line-height: 1.35;
    letter-spacing: 30px;
    z-index: 2;
}

.aligned-text {
    display: block;
    width: 100%;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.description {
    position: relative;
    display: flex;
    margin: 95px 0 0 50px;
    z-index: 2;
}

.cover__description-text {
    padding-top: 13px;
    font-size: 22px;
}

.letter-spacing-extended {
    word-spacing: 18.5px;
}

.bet-button {
    color: #fff;
    background-color: transparent;
    border: solid 1px;
    padding: 12px 32px;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 107px;
}

.lots {
    margin: 184px 24px 0 24px;
    color: #fff;
}

.lots__heading {
    padding-left: 40px;
    margin-bottom: 30px;
    color: #000;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;

}

.lots__card-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;

}

.lots__card-list-item {
    position: relative;
    width: 334px;
    min-height: 596px;
}

.card-link {
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 40px;
    width: 100%;
}

.card-background-film {
    background-image: url(../images/card-lot-01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-background-book {
    background-image: url(../images/card-lot-02.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-background-picture {
    background-image: url(../images/card-lot-03.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-link-heading {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 3.5px;
}

.card-link-content {
    font-size: 20px;
    line-height: 1.2;
}
.lots__look-more-link {
    display: block;
    padding-top: 30px;
    padding-left: 40px;
    color: #000;
    text-underline-position: under;
    font-size: 20px;
}

.about {
    margin: 154.5px 24px 0 24px;
    display: grid;
    grid-template-columns: 334px 1fr;
    column-gap: 25px;

}

.logo_center {
    justify-items: center;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 100%;
}

.about__logo-image {
    width: 148px;
}

.about__title {
    padding: 105px 0 103px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
}

.about__text {
    font-size: 20.1px;
    line-height: 24px;
    font-weight: 400;
}

.paragpaph_margin {
    margin-bottom: 24px;
}

.footer {
   padding: 181px 50px 82px 50px;
   display: grid;
   grid-template-columns: 1fr min-content 1fr;
   font-size: 18px;
}

.address_footer {
    width: 264px;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 164px;
    text-align: center;
}

.footer__menu-link {
    text-underline-offset: 4px;
}

.footer__menu-link_active {
    text-decoration: none;
}
.footer__social-list {
    display: flex;
    gap: 48px;
    justify-self: end;
}

.footer__social-list-item {
    list-style: none;
}

.footer__social-link {
    display: block;
    width: 48px;
}